{% extends "main.html" %}

{% block title %}Call Details{% endblock %}

{% block content %}
<h1>{{ call.name }}</h1>

<form method="POST" class="post-form">{% csrf_token %}
  {{ form.as_p }}
  <button class="btn btn-success" type="submit" class="save btn btn-default">Save</button>
  <a class="btn btn-danger" href="{% url "dispatch:call_delete" call.id %}">Delete</a>
</form>


{% comment %} <h2>Officers Assigned</h2>
<div class="px-4">  
  <ul>
    {% for ofc in call.officer_set.all %}
        <li>{{ofc}}</li>
    {% endfor %}
  </ul>
  <div class="dropdown">
    <a class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Assign Officer</a>
    <ul class="dropdown-menu">
      {% if available_officers %}
        {% for ofc in available_officers %}
          <li><a class="dropdown-item" href="#">{{ ofc }}</a></li>
        {% endfor %}
      {% else %}
        <li><a class="dropdown-item" href="#">No available officers</a></li>
      {% endif %}

    </ul>
  </div> {% endcomment %}

</div>
{% endblock %}
