<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
  </head>

  <body>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link {{home_nav}}" href="{% url 'dispatch:view_calls' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link dropdown-toggle {{calls_nav}}" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Calls</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url 'dispatch:new_call' %}">New Call</a></li>
          <li><a class="dropdown-item" href="{% url 'dispatch:closed_calls' %}">Closed Calls</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link {{shift_nav}}" href="{% url 'dispatch:shift' %}">Shift</a>
      </li>

      <li class="nav-item">
        {% if user.is_authenticated %}
          {% comment %} Welcome, {{ user.get_username }} {% endcomment %}
          <a class="nav-link" href="{% url 'dispatch:not_implemented' %}?next={{ request.path }}">Logout ({{user.get_username}})</a></li>
          {% comment %} <a href="{% url 'registration:logout' %}?next={{ request.path }}">Logout</a></li> {% endcomment %}
        {% else %}
          <a class="nav-link" href="{% url 'dispatch:not_implemented' %}?next={{ request.path }}">Login</a></li>
          {% comment %} <a href="{% url 'registration:login' %}?next={{ request.path }}">Login</a></li> {% endcomment %}
        {% endif %}
    </ul>

    <div class="container-lg">
    {% block content %}
    {% endblock %}
    </div>
  </body>
</html>
